<%= form_with model: room do |f| %>
  <% if room.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room.errors.count, "error") %>
        prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name,
                 required: true,
                 placeholder: t("forms.placeholders.room.name") %>
  </fieldset>

  <div>
    <%= f.submit t("save") %>
  </div>
<% end %>
